# Object file
*.o

# Ada Library Information
*.ali

# Build dir
build/

# gnatstudio files
*.cgpr
gnatinspect.db*

# networks files
networks/*
!networks/test.net

# output files
*.pr
*.prw

# profiler files
gmon.out

# benchmark file
benchmark.md
